.master {
    background: #303030;
    color: white;
    text-shadow: 1px 1px 5px black;
    height: 100vh;
}

.review-container {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.title {
    grid-column: 2/3;
    align-items: center;
}