h1, h2, p {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.bio-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    align-content: center;
    grid-row-gap: 30px;
    background: #080808;
    padding: 25px;
}

.name, .portrait, .bio {
    grid-column: 2/3;
    justify-self: center;
    color: #FCFCFC;
}

.name {
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.portrait {
    width: 150px;
    height: 150px;
}

.bio {
    font-weight: 500;
    text-align: center;
}

/* Stephen Moore repeat(5 50px 150px auto) */
/* .name0 {
    grid-row: 2/3;
}

.portrait0 {
    grid-row: 3/4;
}

.bio0 {
    grid-row: 4/5;
} */

/* Robby Moore */
/* .name1 {
    grid-row: 5/6;
}

.portrait1 {
    grid-row: 6/7;
}

.bio1 {
    grid-row: 7/8;
} */

/*Kyle Zollinger*/
/* .name2 {
    grid-row: 8/9;
}

.portrait2 {
    grid-row: 9/10;
    border: none;
}

.bio2 {
    grid-row: 10/11;
} */

/*Kevin Pett*/
/* .name3 {
    grid-row: 11/12;
}

.portrait3 {
    grid-row: 12/13;
}

.bio3 {
    grid-row: 13/14;
} */

/*Emily Moore*/
/* .name4 {
    grid-row: 14/15;
}

.portrait4 {
    grid-row: 15/16;
}

.bio4 {
    grid-row: 16/17;
    margin-bottom: 30px;
} */