h1, h2, p {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.bio-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    align-content: center;
    grid-row-gap: 30px;
    background: #080808;
    padding: 25px;
}

.name, .portrait, .bio {
    grid-column: 2/3;
    justify-self: center;
    color: #FCFCFC;
}

.name {
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.portrait {
    width: 150px;
    height: 150px;
}

.bio {
    font-weight: 500;
    text-align: center;
}

@media(min-width:600px) {
    .bio-container {
        padding-right: 10%;
        padding-left: 10%;
    }

    .portrait {
        width: 300px;
        height: 300px;
    }

    .name, .bio {
        font-size: 25px;
    }
}