.navbar {
    display: flex;
    height: 60px;
    background: linear-gradient(to right, #FF8600, gold); 
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

a, .links {
    text-decoration: none;
    color: inherit;
}

