.navbar {
    display: flex;
    height: 50px;
    width: 100%;
    background: linear-gradient(to top, #FF8600, rgb(255, 217, 0)); 
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 15px black;
    color: white;
}

.welcome {
    margin-right: 20px;
}

a, .links {
    text-decoration: none;
    color: inherit;
}

.links {
    margin-right: 10px;
    margin-left: 10px;
}

.links:hover {
    color: black;
}

.title {
    position: absolute;
    right: 46.8%;
}

@media (min-width:1200px) {
    .navbar {
      font-weight: 700;
      font-size: 20px
    }


}