.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.all {
  height: 100vh;
  background: linear-gradient(to bottom right, #ee0000 ,#333) no-repeat;
  background-image: url('http://cdn-04.independent.ie/incoming/article34393174.ece/51ed6/AUTOCROP/h342/cinema-projector.jpg');
  background-attachment: fixed;
  background-position: left;
  background-size: 100%;
}

.home-buttons {
  display: grid;
  grid-template-columns: 60px auto 60px;
  grid-template-rows: 30px 150px 150px 150px 150px 30px;
  grid-row-gap: 25px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}


.item {
  grid-column: 2/3;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  text-decoration: underline solid black;
  text-shadow: 1px 1px black;
  text-underline-position: under;
  color: white;
  padding: 5px;
}

.item1 {
  grid-row: 2/3;
  align-self: start;
  background-image: url('https://c1.staticflickr.com/5/4022/4340029979_c12df3c8d1_b.jpg');
  background-size: 100%;
}

.image1 {
  height: 100px;
  width: auto;
  background-origin: content-box;
}

.item2 {
  grid-row: 3/4;
  background-image: url('http://www.publicdomainpictures.net/pictures/80000/velka/scratched-film-strip-background.jpg');
  background-size: 100%;
}

.item3 {
  grid-row: 4/5;
}

.item4 {
  grid-row: 5/6;
}

.filmReel {
  grid-column: 1/2;
  grid-row: 6/7;
  justify-self: start;
  height: 30px;
  width: 30px;
}